<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
  <title>chatPDF</title>
  <!-- <link rel="stylesheet" type="text/css" href="/css/pico.min.css"> -->
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script async>
    function showQuery() {
      var newPar = document.createElement('p');
      var newSpan = document.createElement('span');
      newSpan.textContent = '[User]'
      newSpan.className = 'user-color'
      newPar.style.whiteSpace = "pre";
      newPar.textContent = "\u00A0" + document.getElementById('query-input').value;
      newPar.insertBefore(newSpan, newPar.firstChild);
      document.getElementById("chat-box").append(newPar);
    }
  </script>
</head>

<body>
  <main class="container main-page">
    <div id="top-bar">
      <div class="logo">chatPDF</div>
      <% if (indices && indices.length> 1) { %>
        <form class="top-bar-item" action="/setIndex" method="POST">
          <label for="index">Index: </label>
          <select onchange="this.form.submit()" name="index">
            <% indices.forEach((item)=> { %>
              <option value="<%= item %>">
                <%= item %>
              </option>
              <% }) %>
          </select>
        </form>
        <% } else { %>
          <form class="top-bar-item" action="/getIndices" method="POST">
            <button class='button-2' type="submit">Get Documents</button>
          </form>
          <% } %>
            <a class="top-bar-item" href="/docs"><button>Manage Documents</button></a>
    </div>
    <div id="chat-box">
      <% messages.forEach((message)=> {%>
        <p>
          <span class="<%= message.color %>">[<%= message.name %>]</span>&nbsp;<%= message.content %>
        </p>
        <% }) %>
    </div>
    <div id="query-box">
      <form onsubmit="showQuery()" action="/query" method="POST">
        <textarea required id="query-input" type="text" name="query"></textarea>
        <button type="submit">Query</button>
      </form>
    </div>
  </main>
</body>

</html>
