<!DOCTYPE html>
<html lang="en">
<head>
  <title>chatPDF</title>
  <link rel="stylesheet" type="text/css" href="/css/pico.min.css">
</head>
<body>
<main class="container">
<h1>Welcome</h1>
<% if (currentFile.length > 0) {%>
  <p> Current File: <%= currentFile %> </p>
<% } %>

<% if (error.length > 0) {%>
  <p style="color:red;"> <%= error %> </p>
<% } %>

<form action="/pdfupload" method="POST" enctype="multipart/form-data">
  <input type="file" name="doc" required>
  <button type="submit">Upload PDF</button>
    <% if (status.length > 0) { %>
    <p> <%= status %> </p>
    <% } %>
</form>

<form action="/getIndices" method="POST">
  <button type="submit">Get Indices</button>
</form>

<% if (indices && indices.length > 0) { %>
  <form action="/setIndex" method="POST">
    <label for="index">Choose index to work use: </label>
    <select name="index">
      <% indices.forEach((item) => { %>
        <option value="<%= item %>"><%= item %></option>
      <% }) %>
      <option value="none">none</option>
    </select>
    <button type="submit">Choose Index</button>
  </form>
<% } else { %>
  <p>No Indices detected</p>
<% } %>
  
<form action="/makeEmbeddings" method="POST">
  <button type="submit">Create Embeddings</button>
</form>

<form action="/query" method="POST">
  <textarea name="query" rows="4" cols="30">
  </textarea>
  <button type="submit">Query</button>
</form>

<% if (response.length > 0) {%>
  <p style="color:green;"> <%= response %> </p>
<% } %>
</main>
</body>
</html>
